/build/
/all_plugins/
/cli/spectre
/cli/spectre-cli

/canary_hits.json
*.log

.env
.env.*
!.env.example

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

.vscode/
.idea/
*.swp
*.swo 